.destination {
  padding-top: 25vh;
}

.destination__description {
  @include subheading-l;

  color: $color-tertiary;
  margin-bottom: 6vh;
  margin-left: 170px;

  & span {
    color: $border-color;
    font-weight: 600;
    margin-right: 10px;
  }
}
