.destination {
  background-image: url('../../public/assets/destination/background-destination-desktop.jpg');

  @include tablet {
    background-image: url('../../public/assets/destination/background-destination-tablet.jpg');
  }

  @include mobile {
    background-image: url('../../public/assets/destination/background-destination-mobile.jpg');
  }
}
