.home {
  background-image: url(../../public/assets/home/background-home-desktop.jpg);
  min-height: 100vh;
  padding-top: 0;

  @include tablet {
    background-image: url(../../public/assets/home/background-home-tablet.jpg);
  }

  @include mobile {
    background-image: url(../../public/assets/home/background-home-mobile.jpg);
  }
}

.home__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1150px;
  padding: 25vh 50px 0 50px;

  @include tablet {
    flex-direction: column;
    padding-top: 30px;
  }

  @include mobile {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.home__wrapper__text__title {
  @include title-l;

  &__span {
    @include subheading-l;
  }

  @include tablet {
    text-align: center;
  }
}

.home__wrapper__paragraph {
  margin-top: 30px;
  max-width: 450px;

  @include tablet {
    text-align: center;
  }
}

.home__wrapper__button {
  background-color: $color-tertiary;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 32px;
  outline: 70px solid transparent;
  margin-top: 130px;
  padding: 114px 64px;
  position: relative;
  text-transform: uppercase;
  transition: outline-color 200ms ease;

  &:hover {
    outline-color: $border-color;
  }

  @include tablet {
    margin-bottom: 120px;
  }

  @include mobile {
    margin-top: 80px;
    padding: 90px 40px;
  }
}
