.home {
  min-height: 100vh;
  padding-top: 0;
}

.home__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  padding: 25vh 165px 0 165px;
}

.home__wrapper__text__title {
  @include title-l;

  &__span {
    @include subheading-l;
  }
}

.home__wrapper__paragraph {
  margin-top: 30px;
  max-width: 450px;
}

.home__wrapper__button {
  background-color: $color-tertiary;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 32px;
  outline: none;
  margin-top: 130px;
  padding: 119px 64px;
  text-transform: uppercase;
}
