@mixin nav-text {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

@mixin subheading {
  color: $color-secondary;
  font-family: $font-secondary;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 4.75px;
  text-transform: uppercase;
}
