.page-layout {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 75vh;
  padding-top: 25vh;

  @include tablet {
    padding-top: 70px;
  }
}

.page-layout__description {
  @include subheading-l;

  color: $color-tertiary;
  margin-bottom: 6vh;
  margin-left: 170px;

  & span {
    color: $border-color;
    font-weight: 600;
    margin-right: 10px;
  }

  @include tablet {
    margin-left: 70px;
  }
}

.content-layout {
  margin: 0 auto;
  max-width: 1500px;
}
