@mixin title-l {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: 150px;
  text-transform: uppercase;

  @include mobile {
    font-size: 22vw;
  }
}

@mixin title-m {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: 100px;
  text-transform: uppercase;

  @include mobile {
    font-size: 18vw;
  }
}

@mixin title-s {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: 56px;
  text-transform: uppercase;

  @include mobile {
    font-size: 9.5vw;
  }
}
