@mixin title-l {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: 150px;
  text-transform: uppercase;
}

@mixin title-m {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: 100px;
  text-transform: uppercase;
}

@mixin title-s {
  color: $color-tertiary;
  font-family: $font-primary;
  font-size: 56px;
  text-transform: uppercase;
}
