.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: fixed;
  width: 100%;

  @include tablet {
    margin-top: 0;
    position: absolute;
    top: 0;
  }

  @include mobile {
    margin-top: 25px;
  }
}

.header__logo {
  cursor: pointer;
  margin-left: 55px;

  @include mobile {
    margin-left: 25px;
  }
}

.header__hamburger {
  background-color: transparent;
  border: none;
  height: 45px;
  margin-right: 25px;
  outline: none;
  position: relative;
  width: 35px;
  z-index: 15;

  @media screen and (min-width: 625px) {
    display: none;
  }
}

.header__hamburger__item,
.header__hamburger__item--active {
  background-color: $color-secondary;
  height: 3px;
  position: absolute;
  left: 0;
  width: 90%;

  &:first-child {
    top: 15px;
  }

  &:last-child {
    bottom: 15px;
  }
}

.header__hamburger__item {
  transition: all 150ms ease;

  &:first-child {
    transform: rotate(0deg) translateY(0px);
  }

  &:last-child {
    transform: rotate(0deg) translateY(0px);
  }
}

.header__hamburger__item--active {
  left: 6px;
  transition: all 150ms ease;

  &:first-child {
    transform: rotate(45deg) translateY(8px);
  }

  &:last-child {
    transform: rotate(-45deg) translateY(-8px);
  }
}

.header__nav {
  backdrop-filter: blur(60px);
  display: flex;
  padding: 0 15vw 0 93px;
  position: relative;

  @include tablet {
    padding: 5px 48px;
  }

  @include mobile {
    bottom: 0;
    flex-direction: column;
    padding: 90px 0 0 40px;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 300ms ease-in-out;
    width: 58%;
    z-index: 10;
  }
}

.header__nav--active {
  backdrop-filter: blur(60px);
  display: flex;
  bottom: 0;
  flex-direction: column;
  padding: 90px 0 0 40px;
  position: fixed;
  right: 0;
  top: 0;
  transition: right 300ms ease-in-out;
  width: 58%;
  z-index: 10;
}

.header__nav__item,
.header__nav__item--active {
  @include nav-text;

  color: $color-tertiary;

  & a {
    display: block;
    line-height: 90px;
  }

  &:nth-child(n + 2) {
    margin-left: 48px;
  }

  @include mobile {
    font-size: 20px;

    &:nth-child(n + 2) {
      margin-left: 0;
    }
  }
}

.header__nav__item--active {
  position: relative;

  &::before {
    background-color: $color-tertiary;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;

    @include mobile {
      display: none;
    }
  }
}

.header__nav__item__index {
  font-weight: 600;
  margin-right: 10px;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: inline;
  }
}
