.members {
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column-reverse;
  }
}

.members__wrapper {
  margin-left: 170px;
  margin-top: 12vh;
  max-width: 535px;

  @include tablet {
    margin: 30px auto 0;
  }

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto 80px;
  }
}

.members__wrapper__role {
  @include subheading-m;

  opacity: 0.5;

  @include tablet {
    text-align: center;
  }
}

.members__wrapper__title {
  @include title-s;

  margin-bottom: 25px;
  margin-top: 18px;

  @include tablet {
    text-align: center;
  }
}

.members__wrapper__description {
  max-width: 440px;

  @include tablet {
    margin: 0 auto;
    max-width: 60vw;
    text-align: center;
  }

  @include mobile {
    max-width: none;
    padding: 0 25px;
  }
}

.members__wrapper__selector {
  bottom: 8vh;
  margin-top: 80px;
  position: absolute;

  @include tablet {
    margin-top: 40px;
    position: initial;
    text-align: center;
  }

  @include mobile {
    margin: 40px auto;
  }
}

.members__wrapper__selector__item {
  color: $color-tertiary;
  cursor: pointer;
  height: 15px;
  opacity: 0.3;
  transition: opacity 200ms ease;
  width: 15px;

  &:nth-child(n + 2) {
    margin-left: 25px;
  }

  &:hover {
    opacity: 0.6;
  }

  &.active {
    opacity: 1;
    transform: scale(1.1);
  }
}

.members__image {
  height: 35vw;
  margin-right: 8vw;
  max-height: 570px;
  width: auto;

  @include tablet {
    height: auto;
    margin: 80px auto 0;
    text-align: center;
    width: 50vw;
  }

  @include mobile {
    border-bottom: 1px solid $border-color;
    width: 90vw;
  }
}
