.planets {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
  }
}

.planets__image {
  height: 30vw;
  margin: 45px;
  margin-left: 170px;
  max-height: 400px;
  max-width: 400px;
  width: 30vw;
  position: relative;

  @include tablet {
    margin: 50px auto;
    height: 35vw;
    width: 35vw;
  }
}

.planets__wrapper {
  margin-left: 50px;
  margin-right: 8vw;
  max-width: 500px;

  @include tablet {
    margin: 0 auto;
  }
}

.planets__wrapper__list {
  display: flex;

  @include tablet {
    justify-content: center;
  }
}

.planets__wrapper__list__item {
  @include nav-text;

  color: $color-secondary;
  cursor: pointer;
  padding: 12px 0;

  &:nth-child(n + 2) {
    margin-left: 35px;
  }

  &.active {
    color: $color-tertiary;
    border-bottom: 2px solid $color-tertiary;
  }
}

.planets__wrapper__title {
  @include title-m;

  margin: 30px 0;

  @include tablet {
    text-align: center;
  }
}

.planets__wrapper__description {
  @include tablet {
    text-align: center;
  }
}

.planets__wrapper__infos {
  display: flex;
  margin-top: 50px;
  padding-top: 30px;
  position: relative;

  &::before {
    background-color: $border-color;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include tablet {
    justify-content: center;
    margin-bottom: 80px;
  }
}

.planets__wrapper__infos__distance,
.planets__wrapper__infos__time {
  h4 {
    @include subheading-s;
    margin-bottom: 15px;
  }

  p {
    @include subheading-m;
  }
}

.planets__wrapper__infos__time {
  margin-left: 80px;
}
