.vehicles {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include tablet {
    flex-direction: column-reverse;
  }
}

.vehicles__wrapper {
  display: flex;
  height: max-content;
  margin-top: 50px;
  margin-left: 170px;
  min-height: 264px;

  @include tablet {
    flex-direction: column;
    margin: 50px auto 80px;
  }
}

.vehicles__wrapper__selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 60px;

  @include tablet {
    align-items: center;
    flex-direction: row;
    margin: 0 auto 50px;
    width: 250px;
  }
}

.vehicles__wrapper__selector__item {
  @include title-s;

  background-color: transparent;
  border: 1px solid $border-color;
  border-radius: 100%;
  cursor: pointer;
  color: $color-tertiary;
  font-size: 40px;
  padding: 15px 25px;
  text-align: center;
  transition: border-color 200ms ease;

  &:first-child {
    padding: 15px 28px;
  }

  &:hover {
    border-color: $color-tertiary;
  }

  &.active {
    background-color: $color-tertiary;
    border-color: $color-tertiary;
    color: $color-primary;
  }
}

.vehicles__wrapper__subheading {
  @include subheading-s;

  font-size: 18px;

  @include tablet {
    text-align: center;
  }
}

.vehicles__wrapper__title {
  @include title-s;

  margin: 10px 0 15px;

  @include tablet {
    text-align: center;
  }

  @include mobile {
    margin: 15px 0 25px;
  }
}

.vehicles__wrapper__description {
  max-width: 455px;

  @include tablet {
    text-align: center;
  }

  @include mobile {
    padding: 0 25px;
  }
}

.vehicles__image {
  // position: relative;
  height: 25vw;
  margin-left: 50px;
  max-height: 400px;
  max-width: 400px;
  width: 25vw;

  @include tablet {
    height: auto;
    margin-left: 0;
    max-width: none;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
  }

  @include mobile {
    height: 250px;
    margin-top: 35px;
    object-position: bottom;
  }
}
